* {
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'EB Garamond', sans-serif;
line-height: 1.6em;
box-sizing: border-box;
margin: 0;
padding: 0;
}

html {
	font-size: 16px;
	margin-top: 3em;
  background:#ffebe9;
}

header,
main,
footer {
	margin: 0 auto;
	max-width: 800px;

}

header {
padding: 2em 0;
background: #cfb7cd;
text-align: center;
}

img{
	width: 25%;
	border: 1px solid #333;
}

header h1{
	font-size: 3em;
}

header span {
	font-size: 1.5em;
}

.navbar {
  position: fixed;
  	top: 0;
	left: 0;
	width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
  background-color: #b931b6;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0;
}

.dropdown-content a:hover {
  background-color: #ddd;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #ace5ee;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #7db29e;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*Collapsible Starts Here*/

.collapsible {
  background-color: #d9c6d8;
  color: #444;
  text-decoration-color: #eee;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 20px;
}


.active, .collapsible:hover {
  background-color: #ccc;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f4cff9;
  text-align: left;
}


section {
	margin: 1em 0;
	padding-top: 2em;
	min-height: 10em;
	background: #cfb7cd;
  text-align: center; 
}

 section > p {
 	margin: 1em 0;
}

ul {
  list-style: none; 
  padding: 0;
  margin: 0;
}

section ul {
	columns: 2;
  background: #cfb7cd;
  text-align: center;
     
}

#container{
	display: inline-flex;
}

#projects section{
  background: #cfb7cd;
  padding: .5em;
  text-align: left;
  /*display: inline-flex;*/
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: aliceblue;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: flex;
  bottom: 20px;
  width: 100%;
  text-align: top;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

footer {
	margin-top: 2em;
	margin-bottom: 1em;
	background: #671a6b;
	color: #fff;
	padding: 1em 0;
	text-align: center; 
}



